# Игнорировать файлы и папки, созданные Visual Studio
.vs/
bin/
obj/

# Игнорировать файлы сборки
*.exe
*.dll
*.pdb

# Игнорировать файлы пользовательских настроек
*.user
*.suo

# Игнорировать временные файлы
[Tt]emp/
[Tt]mp/

# Игнорировать файлы логов
*.log

# Игнорировать файлы конфигурации, содержащие секретные данные
appsettings.json
appsettings.Development.json

# Игнорировать файлы базы данных SQLite
*.db
*.sqlite

# Игнорировать файлы резервных копий
*~
*.bak

# Игнорировать файлы кэша NuGet
*.nuget.props
*.nuget.targets

# Игнорировать файлы, специфичные для ReSharper
_ReSharper*/

# Игнорировать файлы сборки проекта
*.cache
