<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TelegramBotLibDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=DatabaseTelegramBot;AttachDbFilename=|DataDirectory|\DatabaseTelegramBot.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>